.main_home {
  width: 100%;
}

/* @media screen and (max-width: 799px) {
  .main_home {
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    justify-content: center;
  }
} */
