.about_intro {
  color: #fff;
  padding: 0 5%;
  margin: 0;
  min-height: fit-content;
  background-image: url("https://1.bp.blogspot.com/-hNDcw75TpFk/UArwrJs9-RI/AAAAAAAAILE/5nLdt3TxUY4/s1600/Hdhut.blogspot.com+(2).jpeg");
}
.about_intro h2 {
  margin-top: 0;
  padding-top: 20px;
  text-shadow: -6px -4px 36px rgba(0, 0, 0, 0.815);
}
.animate_intro {
  min-height: 100vh;
}
.main_intro {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  margin: 20px auto;
  align-items: center;
}
.main_intro img {
  width: 100%;
  height: 100%;
}
.main_intro:nth-child(odd) img {
  order: 1;
}

@media (max-width: 600px) {
  .main_intro {
    display: block;
  }
}
@media screen and (max-width: 570px) {
  .about_intro h3 {
    padding-top: 30px;
  }
  .about_intro p {
    padding-bottom: 20px;
    margin: 0;
  }
}
