.about_intro {
  /* min-height: 100vh; */
  color: #fff;
  padding: 0 5%;
  margin: 0;
  min-height: fit-content;
  /* background-color: #2575fc; */
  /* background-color: #6a11cb; */
  background-image: url("https://1.bp.blogspot.com/-hNDcw75TpFk/UArwrJs9-RI/AAAAAAAAILE/5nLdt3TxUY4/s1600/Hdhut.blogspot.com+(2).jpeg");
}
.about_intro h2 {
  margin-top: 0;
  padding-top: 20px;
}
.animate_intro {
  min-height: 100vh;
}
.main_intro {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  margin: 20px auto;
  align-items: center;
}
.main_intro img {
  width: 100%;
  height: 400px;
}
/* .main_intro:nth-child(even) img {
  order: 1;
} */
/* float: left; */

@media (max-width: 600px) {
  .main_intro {
    display: block;
  }
}
