@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Pacifico&display=swap");
.lovequotes {
  min-height: 100vh;
  padding: 10% 5% 0;
  width: 100%;
  display: grid;
  z-index: -1;
  margin-top: -5%;
  background-color: #ecefa4;
}

.handwriting1 {
  font-family: "Pacifico", cursive;
  font-size: 1.8rem;
  font-weight: 400;
}
.handwriting2 {
  font-family: "Kaushan Script", cursive;
  font-size: 1.8rem;
  font-weight: 400;
}
.quoteFirst img {
  width: 30%;
  height: 50%;
  float: right;
}
.quoteSecond {
  padding-bottom: 15px;
}
.quoteSecond img {
  width: 50%;
  height: 50%;
  float: right;
}
.cloud {
  padding-bottom: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.img__cloud {
  width: 6%;
}
