* {
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}
ul {
  list-style: none;
}
h1 {
  font-size: 3rem;
  font-weight: 700;
}
h2 {
  font-size: 2.5rem;
  font-weight: 700;
}
@media screen and (max-width: 1000px), screen and (min-width: 800px) {
  h2 {
    font-size: 2.2rem;
    font-weight: 600;
  }
}
@media screen and (max-width: 570px) {
  h2 {
    font-size: 1.2rem;
    font-weight: 500;
  }
}
h3 {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0;
}
@media screen and (max-width: 570px) {
  h3 {
    font-size: 1.2rem;
    font-weight: 500;
  }
}

::-moz-selection {
  background-color: #55c57a;
  color: #fff;
}
::selection {
  background-color: #55c57a;
  color: #fff;
}

section {
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: center;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

/* Main home */
.main_home {
  width: 100%;
}

/* LoveQuote */
.lovequotes {
  min-height: 100vh;
  padding: 10% 5% 0;
  width: 100%;
  display: grid;
  z-index: -1;
  margin-top: -5%;
  background-color: #ecefa4;
}
.quoteFirst img {
  width: 30%;
  height: 50%;
  float: right;
}
.quoteSecond {
  padding-bottom: 15px;
}
.quoteSecond img {
  width: 50%;
  height: 50%;
  float: right;
}
.cloud {
  padding-bottom: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.img__cloud {
  width: 6%;
}

@media screen and (max-width: 1000px), screen and (min-width: 800px) {
  .lovequotes {
    padding: 10% 5% 0;
    margin-top: -10%;
  }
}
@media screen and (max-width: 799px) {
  .cloud {
    padding-top: 40px;
  }
}

@media screen and (max-width: 570px) {
  .lovequotes {
    padding: 18% 5% 0;
    margin-top: -20%;
  }
  .lovequotes h4 {
    font-size: 1rem;
    font-weight: 400;
  }
  .cloud {
    padding: 0;
  }
}
@media screen and (max-width: 250px) {
  .quoteFirst img {
    float: left;
    width: 60%;
    height: 40%;
  }
  .quoteSecond img {
    float: left;
    width: 60%;
    height: 40%;
  }
}

/* About */

/* sarcasm  */
.sarcasm {
  padding: 5% 5% 0;
  color: #fff;
  margin-top: -20px;
}
.strength {
  display: grid;
  padding: 40px;
  grid-template-columns: auto auto auto;
  grid-gap: inherit;
}

.sarcasm img {
  width: 80%;
  height: inherit;
}

@media screen and (max-width: 570px) {
  .strength {
    grid-template-columns: auto;
  }
}

/* courses */
.main_courses {
  padding: 10% 5%;
  clip-path: polygon(100% 0, 0 10%, 0% 100%, 100% 90%);
  min-height: 100vh;
  background-color: #ecefa4;
  text-align: center;
}
.main_courses p {
  margin: 10px auto;
}
.about_courses {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 40px;
  justify-content: center;
  align-items: center;
  padding: 3rem;
}
.courses {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid #eaeaea;
  background-color: #fff;
  border-radius: 10px;
  transform: skewY(170deg);
  box-shadow: 5px 10px 8px 5px #888888;
}
.courses img {
  width: 90%;
  height: 250px;
  padding: 20px 0;
}

@media screen and (max-width: 1000px) {
  .about_courses {
    padding: 3rem 0;
    grid-gap: 35px;
  }
  .courses {
    padding: 1rem;
  }
}

@media screen and (max-width: 799px) {
  .about_courses {
    padding: 0.5rem 0;
  }
  .courses {
    padding: 0.5rem;
    margin: 20px auto;
  }
  .main_courses p {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 650px) {
  .about_courses {
    grid-template-columns: auto;
    grid-gap: 20px;
    padding: 1rem;
  }
  .main_courses {
    padding: 15% 5%;
    clip-path: polygon(0 6%, 100% 1%, 100% 93%, 0% 100%);
  }
}
@media screen and (max-width: 450px) {
  .main_courses {
    padding: 18% 5%;
    clip-path: polygon(0 4%, 100% 1%, 100% 96%, 0% 100%);
  }
  .about_courses {
    padding: 0.5rem;
  }
}
@media screen and (max-width: 250px) {
  .main_courses {
    clip-path: polygon(0 2%, 100% 1%, 100% 98%, 0% 100%);
  }
}

/* ProjectShowcase */
.project_main {
  padding: 3%;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 30px;
}
@media screen and (max-width: 650px) {
  .project_main {
    grid-template-columns: auto;
    padding: 0;
  }
}

/* Contact */
.contact {
  height: 140vh;
  background-color: rgb(228, 228, 209);
  clip-path: polygon(0 10%, 100% 0%, 100% 90%, 0% 100%);
  width: 100%;
}
