html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overflow-x: hidden;
  /* overflow: hidden; */
}

a {
  color: inherit;
  text-decoration: none;
}
ul {
  list-style: none;
}
* {
  box-sizing: border-box;
}
h1 {
  font-size: 3rem;
  font-weight: 700;
}
h2 {
  font-size: 2.5rem;
  font-weight: 700;
}
h3 {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0;
}

::-moz-selection {
  background-color: #55c57a;
  color: #fff;
}
::selection {
  background-color: #55c57a;
  color: #fff;
}

section {
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: center;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

/* LoveQuote */

.lovequotes {
  min-height: 100vh;
  padding: 10% 5% 0;
  width: 100%;
  display: grid;
  z-index: -1;
  margin-top: -5%;
  background-color: #ecefa4;
  /* background-color: rgb(228, 228, 209); */
  /* background-image: url("../../public/2.jpg");
  object-fit: cover;
  color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  object-position: 20% 25% 80%; */
}
.quoteFirst img {
  width: 30%;
  height: 50%;
  float: right;
}
.quoteSecond {
  padding-bottom: 15px;
}
.quoteSecond img {
  width: 50%;
  height: 50%;
  float: right;
}
.cloud {
  padding-bottom: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.img__cloud {
  width: 6%;
  height: 6%;
}

/* About */
.about_intro {
  /* min-height: 100vh; */
  color: #fff;
  padding: 0 5%;
  margin: 0;

  min-height: fit-content;
  /* background-color: #2575fc; */
  /* background-color: #6a11cb; */
  background-image: url("https://1.bp.blogspot.com/-hNDcw75TpFk/UArwrJs9-RI/AAAAAAAAILE/5nLdt3TxUY4/s1600/Hdhut.blogspot.com+(2).jpeg");
}
.about_intro h2 {
  margin-top: 0;
  padding-top: 20px;
}
.animate_intro {
  min-height: 100vh;
}
.main_intro {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  margin: 20px auto;
  align-items: center;
}
.main_intro img {
  width: 100%;
  height: 400px;
}
/* .main_intro:nth-child(even) img {
  order: 1;
} */
/* float: left; */

@media (max-width: 600px) {
  .main_intro {
    display: block;
  }
}

/* sarcasm  */
.sarcasm {
  padding: 5% 5% 0;
  color: #fff;
  margin-top: -20px;
}
.strength {
  display: grid;
  padding: 40px;
  grid-template-columns: auto auto auto;
  grid-gap: inherit;
}

.sarcasm img {
  width: 80%;
  height: inherit;
}

/* courses */

.main_courses {
  padding: 10% 5%;
  clip-path: polygon(100% 0, 0 10%, 0% 100%, 100% 90%);
  min-height: 100vh;
  background-color: #ecefa4;
  /* background-color: rgb(228, 228, 209); */
  /* background-color: #ffa900; */
  text-align: center;
  /* background-repeat: no-repeat;
  object-fit: cover;
  object-position: 80% 50%; */
}
.main_courses p {
  padding-top: 20px;
}
.courses {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid #eaeaea;
  background-color: #fff;
  border-radius: 10px;
  transform: skewY(170deg);
  box-shadow: 5px 10px 8px 5px #888888;
}
.courses img {
  width: 80%;
  height: 250px;
  padding: 20px 0;
}

/* ProjectShowcase */
.project_main {
  padding: 3%;
  /* background-color: #2575fc; */
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  grid-gap: 10px;
}

/* Contact */
.contact {
  height: 140vh;
  background-color: rgb(228, 228, 209);
  clip-path: polygon(0 10%, 100% 0%, 100% 90%, 0% 100%);
  width: 100%;
}
